* {
  margin: 0;
  padding: 0;
}

/* shared styles */

.display-flex {
  display: flex;
}

/* navbar related styles */
.navbar {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #1a0b2e;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.navbar img {
  display: none;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.brand-color {
  color: palevioletred;
}

.nav-item {
  list-style: none;

  /* margin-right: 30px; */
}

.nav-links {
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-btn {
  padding: 10px;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  cursor: pointer;
}

/* banner related styles */
.banner {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* background-size: cover;
  background-position: center; */
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 600px;
}

.banner-content {
  text-align: center;
  /* padding-top: 80px; */
}

.banner .banner-para {
  color: gray;
}

.banner-content .mic {
  background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  padding: 50px;
  border-radius: 70%;
  border: none;
  margin-top: 80px;
  margin-left: 40px;
}

.banner-btn {
  justify-content: center;
  align-items: center;
}

.banner-content .btn-new {
  padding: 10px;
  border-radius: 50%;
}

.banner-content h3 {
  color: white;
  font-size: 2rem;
}

.banner-content p {
  color: white;
  font-size: 1rem;
  font-weight: 100;
}

.btn-spotify,
.btn-sub {
  padding: 5px;
  border-radius: 30px;
  /* text-align: center; */
}

.btn-spotify {
  background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  color: white;
}

.btn-sub {
  background-color: #1a0b2e;
  color: green;
}

.banner-btn .btn-new {
  margin-left: -20px;
  margin-top: -70px;
  background-color: green;
  color: white;
}

/* about section related styles */
.about {
  background-color: #1a0b2e;
  max-width: 1600px;
  margin: 0 auto;
}

.about-para {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  color: white;
}

.about-para p {
  font-weight: 100;
  color: gray;
  /* text-align: center; */
}

.about h3 {
  font-size: 2rem;
  padding-bottom: 10px;
}

.info-cards {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 30px;
}

.card h4 {
  font-size: 2rem;
  color: green;
}

.card p {
  font-size: 0.75rem;
  color: white;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar .nav-link,
  .nav-btn {
    display: none;
  }

  .navbar img {
    display: block;
  }

  .info-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
