* {
  margin: 0;
  padding: 0;
}

/* shared styles */

.display-flex {
  display: flex;
}

/* navbar related styles */
.navbar {
  /* max-width: 1600px; */
  margin: 0 auto;
  background-color: #1a0b2e;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;

  /* margin-right: 30px; */
}

.nav-links {
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-btn {
  padding: 10px;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  cursor: pointer;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar .nav-link {
    display: none;
  }
}
