* {
  margin: 0;
  padding: 0;
}

/* shared styles */

.display-flex {
  display: flex;
}

/* navbar related styles */
.navbar {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #1a0b2e;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.navbar img {
  display: none;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.brand-color {
  color: palevioletred;
}

.nav-item {
  list-style: none;

  /* margin-right: 30px; */
}

.nav-links {
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-btn {
  padding: 10px;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  cursor: pointer;
}

/* banner related styles */
.banner {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* background-size: cover;
  background-position: center; */
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 600px;
}

.banner-content {
  text-align: center;
  /* padding-top: 80px; */
}

.banner .banner-para {
  color: gray;
}

.banner-content .mic {
  background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  padding: 50px;
  border-radius: 70%;
  border: none;
  margin-top: 80px;
  margin-left: 40px;
}

.banner-btn {
  justify-content: center;
  align-items: center;
}

.banner-content .btn-new {
  padding: 10px;
  border-radius: 50%;
}

.banner-content h3 {
  color: white;
  font-size: 2rem;
}

.banner-content p {
  color: white;
  font-size: 1rem;
  font-weight: 100;
}

.btn-spotify,
.btn-sub {
  padding: 5px;
  border-radius: 30px;
  /* text-align: center; */
}

.btn-spotify {
  background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  color: white;
}

.btn-sub {
  background-color: #1a0b2e;
  color: green;
}

.banner-btn .btn-new {
  margin-left: -20px;
  margin-top: -70px;
  background-color: green;
  color: white;
}

/* about section related styles */
.about {
  background-color: #1a0b2e;
  max-width: 1600px;
  margin: 0 auto;
}

.about-para {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  color: white;
}

.about-para p {
  font-weight: 100;
  color: gray;
  /* text-align: center; */
}

.about h3 {
  font-size: 2rem;
  padding-bottom: 10px;
}

.info-cards {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 40px;
}

.card h4 {
  font-size: 2rem;
  color: green;
}

.card p {
  font-size: 0.75rem;
  color: white;
}

/* why choose techwave section */
.choose {
  background-color: #230e3d;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 30px;
}

.choose-container {
  /* max-width: 700px; */
  margin: 0 auto;
  text-align: center;
}

.choose-container h3 {
  margin-bottom: 20px;
  color: white;
}

.grid-container > * {
  border: 3px solid #1a0b2e;
  background-color: #230e3d;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.grid-container h4 {
  font-size: 1rem;
}

.grid-container p {
  font-size: 0.75rem;
}

.premium {
  grid-area: premium;
}

.mobile {
  grid-area: mobile;
}

.global {
  grid-area: global;
}

.interviews {
  grid-area: interviews;
}

.rich {
  grid-area: rich;
}

.grid-container {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 40px;

  display: grid;
  gap: 10px;
  text-align: left;
  grid-template-areas:
    "premium    mobile    mobile "
    "premium    global    global "
    "interviews interviews rich";
}

/* feature section styles */

.feature {
  max-width: 1600px;
  /* height: 500px; */
  margin: 0 aut0;
  background-color: #1a0b2e;
  color: white;
}

.feature h3 {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.feature-container {
  max-width: 900px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.feature .cards {
  display: flex;
  gap: 10px;
}

.feature .card h5 {
  font-size: 1rem;
  padding-bottom: 10px;
}

.feature .card p {
  font-size: 0.75rem;
  color: gray;
  padding-bottom: 10px;
  display: flex;

  gap: 5px;
}

iframe {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
}

/* host related styles */
.host {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.host h3 {
  padding-bottom: 20px;
}

.host-content {
  display: flex;
  gap: 20px;

  align-items: center;
  border: 2px solid #230e3d;
  border-radius: 10px;
}

.host-img {
  padding: 10px;
}

.host-des h4 {
  padding-bottom: 10px;
  font-size: 1rem;
}

.host-des p {
  font-size: 0.85rem;
  color: gray;
  padding-bottom: 10px;
}

.social {
  padding-top: 10px;
  display: flex;
  gap: 20px;
}

/* footer section styles */
.footer {
  background-image: url(./assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 200px;

  text-align: center;
}

.footer h3 {
  padding-top: 60px;
}

.footer-social {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
}

.footer-social p {
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 5px;
}

.all-rights {
  color: white;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar .nav-link,
  .nav-btn {
    display: none;
  }

  .navbar img {
    display: block;
  }

  .info-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .grid-container {
    grid-template-areas:
      "premium"
      "mobile"
      "global"
      "sidebar"
      "interviews"
      "rich";
  }

  .feature .cards {
    flex-direction: column;
    margin: 50px;
  }

  .host-content {
    flex-direction: column;
    text-align: center;
  }

  .social {
    justify-content: center;
  }
}
