* {
  margin: 0;
  padding: 0;
}

/* shared styles */

.display-flex {
  display: flex;
}

/* navbar related styles */
.navbar {
  /* max-width: 1600px; */
  margin: 0 auto;
  background-color: #1a0b2e;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.navbar img {
  display: none;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.brand-color {
  color: palevioletred;
}

.nav-item {
  list-style: none;

  /* margin-right: 30px; */
}

.nav-links {
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-btn {
  padding: 10px;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  cursor: pointer;
}

/* banner related styles */
.banner {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 1600px;
  height: 760px;
}

.banner-content {
  text-align: center;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar .nav-link,
  .nav-btn {
    display: none;
  }

  .navbar img {
    display: block;
  }
}
